// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
$light-gray: rgba(0,0,0,0.05);

$dark-pink: #AB4A3C;
$pink:    #AB4A3C;
$light-pink: #ec7700 ;
