 <div class="wrapper">
  <div class="container white-container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
            <div class="card-description">
              <h1><%= cocktail.name %></h1>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
